/* Reset (http://meyerweb.com/eric/tools/css/reset)
************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* General
************************************************/

html { overflow-y: scroll; }
 
body {
  padding: 20px;
  font: normal 14px 'Open Sans', sans-serif;
  line-height: 1.8em;
  color: #111; }

p { margin: 10px 0; }

/* Source Code
************************************************/

pre {
  padding: 10px 15px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5em;
  background: #111;
  border-radius: 12px;
  color: #eee; }

code { font: 0.85em Monaco,monospace; }

/* Blog Post Dates
************************************************/

.post-date { font-family: monospace; }

/* Headings
************************************************/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  word-wrap: break-word;
  text-shadow: #ccc 1px 1px 1px;
  margin: 20px 0 10px 0; }

h1 { font-size: 2em; }

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }

h4 { margin: 10px 0; }

/* Links
************************************************/

a {
  color: #007100;
  text-decoration: none; }
  
a:hover { color: #111; }

/* Box Layout
************************************************/

#container {
  max-width: 760px;
  margin: 0 auto; }

#logo {
  text-align: center;
  font-weight: 800;
  text-shadow: #ccc 1px 1px 1px;
  margin: 20px 0; }
  
#logo .teaser { font-size: 1.2em; }

#navigation ul { text-align: center; }

#navigation ul li {
  display: inline;
  padding: 0 5px; }

#content ul { margin: 5px 0 5px 2em; }

#content ul li { list-style: square; }

#disqus_thread ul li { list-style: none; }

#footer {
  font-size: 0.8em;
  text-align: center;
  margin: 20px 0; }

/* Further Resources
************************************************/

#content .resources {  margin: 0; }

#content .resources img {
  width: 64px;
  height: 64px;
  padding: 9px 18px;
  position: absolute; }

#content .resources li {
  list-style: none;
  width: 49%;
  min-height: 82px;
  display: inline-block;
  margin: 10px 0; }

.resources h4, .resources p { margin: 0 0 0 100px; }

/* Syntax Highlighting
************************************************/

.highlight {
  background: #111;
  border-radius: 12px;
  color: #eee; }
  
.highlight .nb { /* Name.Builtin */
  color: #DA4939; }
  
.highlight .nc { /* Name.Class */
  color: #DA4939; }
  
.highlight .nf { /* Name.Function */
  color: #DA4939; }
  
.highlight .na { /* Name.Attribute */
  color: #DA4939; }

.highlight .nt { /* Name.Tag */
  color: #E8BF6A; }

.highlight .nv { /* Name.Variable */
  color: #E8BF6A; }

.highlight .s { /* Literal.String */
  color: #A5C261; }

.highlight .n { /* ??? */
  color: #E8BF6A; } 

.highlight .c { /* Comment */
  color: #6D9CBE; }

.highlight .c1 { /* Comment.Single */
  color: #6D9CBE; }

.highlight .cm { /* Comment.Multiline */
  color: #6D9CBE; }

/* Media Queries
************************************************/

@media screen and (max-width: 800px) {

  .github-ribbon { display: none; }

  #content .resources li { width: 100%; }

}

/* Fixes
************************************************/

.clearfix:before, .clearfix:after {
  content: ""; display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }
