/***** Layout ****************************************************************/

body, html {
    background: #fff;
    font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
    color: #444;
}

body * {
    line-height: 1.4em;
}

#container {
    position: relative;
    width: 960px;
    margin: 60px auto;
}

#container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
} 

#navigation {
    float: left;
    width: 160px;
    margin: 0 10px;
}

nav {
    position: fixed; 
    width: 160px;
    text-align: right;
}
    
nav ul li {
    font-weight: bold;
    text-align: right;
    display: block;
    margin-bottom: 10px;
}

nav a, nav a:hover, nav a:visited, nav a:active {
    color: #282828;
    text-decoration: none;
}

nav a:hover {
    color: #181818;
}

#content {
    float: left;
    width: 700px;
    padding-left: 60px;
    margin: 0 10px;
}

hr {
    border: solid #DDD;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
    border-width: 1px 0 0;
}

p { 
    margin: 0 0 20px 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
    color: #333;
}

small {
    font-size: 80%;
}

#logo {
    font-size: 24px;
    color: #181818;
    font-weight: bold;
}

/***** Headers ***************************************************************/

h1, h2, h3, h4, h5, h6 {
    font-family: helvetica, arial, freesans, clean, sans-serif;
    color: #181818;
    font-weight: bold;
}

h1, h2 { 
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 14px;
}


h3, h4 {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 7px;
}

h5, h6 {
    font-size: 14px;
    line-height: 20px;
}

/***** Lists *****************************************************************/

ul, ol {
    margin-bottom: 20px;
}

ul {
    list-style: none outside;
}

ol {
    list-style: decimal;
}

ol, ul.square, ul.circle, ul.disc {
    margin-left: 30px;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ul.disc {
    list-style: disc outside;
}

ul ul, ul ol, ol ol, ol ul {
    margin: 4px 0 5px 30px;
    font-size: 90%;
}

ul ul li, ul ol li, ol ol li, ol ul li { 
    margin-bottom: 6px;
}

li {
    line-height: 18px;
    margin-bottom: 12px;
}

ul.large li {
    line-height: 21px;
}

li p {
    line-height: 21px;
}