/******************************************************************************
 Defaults
 ********/

body {
    background: #0E0E0E url('../images/background.gif') repeat 0 0;
    font: 12px/18px "Lucida Grande", Geneva, Arial, Verdana;
    color: #999;
    text-align: center;
    text-shadow: #000 0 1px 1px; }

h1, h2, h3, h4, h5, h6 { color: #FFF; }
h1 { font-size: 19px; margin: 15px 0; }
h1:first-child { margin: 0 0 15px 0; }
h2 { font-size: 15px; margin: 10px 0; }
h3 { font-size: 13px; margin: 8px 0; }

p { margin: 5px 0; }

a { color: #00CC00; text-decoration: none; }
a:hover { color: #FF9900; }

ul { margin: 0 0 0 2em; }
li { margin: 0 0 0 1em; list-style-type: disc; }

em { font-style: italic; }

/******************************************************************************
 Box Layout
 **********/

#header {
    width: 780px;
    margin: 30px auto 20px auto; }

#logo {
    font-size: 35px;
    color: #FFF;
    text-align: left;
    float: left; }
#logo .sub {
    font-size: 11px;
    float: left;
    margin: 5px 0; }

#navigation {
    text-align: right;
    padding: 10px 0 0 0;
    font-size: 12px; }
#navigation li {
    display: inline-block; }

#content {
    width: 780px;
    margin: 0 auto 20px auto;
    padding: 20px;
    text-align: left;
    font-size: 12px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: #303030;
    color: #C4C4C4;
    overflow: hidden; }

#footer {
    margin: 0 0 30px 0; }

/******************************************************************************
 Articles
 ********/

.post-date {
    margin: -10px 0 0 0; 
    font-style: italic; }
