<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} &raquo; BitvUnit: Accessibility Testing Framework</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/bitvunit.css" />
</head>
<body>
  <div id="container">
    <div id="navigation">
      <nav>
        <p id="logo">BitvUnit</p>
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="/getting-started.html">Getting Started</a></li>
          <li><a href="/downloads.html">Downloads</a></li>
          <li><a href="/change-log.html">Change Log</a></li>
          <li><a href="/contribute.html">Contribute</a></li>
        </ul>
      </nav>
      &nbsp;
    </div>
    <div id="content">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      <div id="main">
        {{ content }}
      </div>
      <div id="footer">
        <small>
          BitvUnit is created by <a href="http://www.stefanglase.de">Stefan Glase</a>, 2011 ©
          <br />
          I want to thank everyone who uses, supports or affiliates this project. Special thanks to <a href="http://webtestpraxis.de/blog/?tag=barrierefreiheit">WebTestPraxis</a> for their inspirational posts, the <a href="http://codenarc.sourceforge.net">CodeNarc</a> project for some architectural inspirations and <a href="http://www.github.com">GitHub</a> for their great social coding platform.
        </small>
      </div>
    </div>
  </div>
  <a href="http://github.com/codescape/bitvunit"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>
</body>
</html>
